.header {
    width: 100%;
    height: 44px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #DBDBDB;
}

.header_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 975px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_home {
    margin-top: 5px;
}

.header_search {
    width: 216px;
    height: 28px;
    display: none;
    align-items: center;
    position: relative;
}

.header_search img {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.header_search input {
    width: 100%;
    background-color: #FAFAFA;
    padding: 4px 10px 4px 28px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    overflow: hidden;
    white-space: nowrap;
}

.header_search input:focus {
    color: #262626;
}

.header_buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile_picture {
    width: 24px;
    border-radius: 50%;
}