.search-panel {
    position: fixed;
    top: 0;
    left: 72px;
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 1px solid #333;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    display: none; /* 초기 상태는 숨김 */
    z-index: 1000;
}

.search-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-header h2 {
    font-size: 22px;
    font-weight: bold;
}

.search-input {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    border-color: #262626;
}

.search-body {
    margin-top: 30px;
}

.recent-title {
    font-size: 14px;
    margin-bottom: 10px;
    color: #999;
}

.recent-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.recent-list li {
    padding: 6px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.no-recent {
    color: #777;
    font-size: 13px;
    margin-top: 40px;
}

.left_sidebar.sidebar--collapsed {
    width: 72px !important;
}

.left_sidebar.sidebar--collapsed .left_sidebar_nav a span {
    display: none;
}

.search-result {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
    cursor: pointer;
}

.search-result:hover {
    background-color: lightgray;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user-id {
    font-size: 14px;
    color: black;
}
