.side_menu {
    max-width: 290px;
    width: 100%;
    margin-right: 32px;
    margin-left: 32px;
    display: none;
    flex-direction: column;
    position: relative;
    margin-top: 35px;
}

.side_menu_user_profile {
    display: flex;
    align-items: center;
    margin: 20px 0 22px;
}

.side_menu_user_avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
}

.side_menu_user_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 4px;
}

.side_menu_user_info a {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    text-decoration: none;
    text-transform: lowercase;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side_menu_user_info span {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side_menu_user_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #0093F5;
}

.side_menu_suggestions_section {
    display: flex;
    flex-direction: column;
}


.side_menu_suggestions_header {
    display: flex;
    justify-content: space-between;
}

.side_menu_suggestions_header h2 {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
}

.side_menu_suggestions_header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}

.side_menu_suggestions_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0 24px;
    padding-left: 4px;
}

.side_menu_suggestion {
    display: flex;
    align-items: center;
}

.side_menu_suggestion_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.side_menu_suggestion_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}

.side_menu_suggestion_info a {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    text-decoration: none;
    text-transform: lowercase;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side_menu_suggestion_info a:hover {
    text-decoration: underline;
}

.side_menu_suggestion_info span {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side_menu_suggestion_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #0093F5;
    flex-shrink: 0;
}

.side_menu_footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side_menu_footer_list {
    display: flex;
    list-style: none;
}

.side_menu_footer_item:not(:last-of-type)::after {
    content: '\00B7';
    margin: 0 0.5px;
}

.side_menu_footer_item,
.side_menu_footer_link,
.side_menu_footer_copyright {
    font-size: 11px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
}

.side_menu_footer_copyright {
    text-transform: uppercase;
}

.left_sidebar {
    padding-top: 35px;
    width: 240px;
    flex-shrink: 0;
    flex-direction: column;
    top: 0;
    border-right: 1px solid #dbdbdb;
}

.left_sidebar_nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.left_sidebar_nav a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #262626;
    margin-left: 14px;
}

.left_sidebar_nav a span {
    transition: opacity 0.2s ease-in-out;
}

.left_sidebar_nav a:hover {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 8px;
}

.left_sidebar_nav img {
    width: 24px;
    height: 24px;
}

.sidebar_logo {
    height: 60px;
    align-items: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.sidebar_logo img {
    margin-left: 10px;
}